/* Drop shadow generator --> https://webcode.tools/css-generator/drop-shadow */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    width: 500px;
    background-color: grey;
}

.navigation-bar{
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
}

.logo{
    display: flex;
    width: 36px;
    height: 32px;
    margin-right: 7px;
}

.navbar-text{
    font-weight: 700;
    font-size: 22px;
    margin-right: 50px;
}

.main{
    background-repeat: no-repeat;
    background-position: 100% 75%;
    padding: 57px 27px;
}

.main-title{
    margin-left: 30px;
    font-size: 39px;
    letter-spacing: -0.05em;
    line-height: 47px;
}

.main-list{
    margin-top: 46px;
    max-width: 400px;
    margin-left: 30px;
}

.main-list > li{
    padding-block: 10px;
}


.main-list > li.dark::marker{
    font-size: 1.4rem;
    color: #61dafb;
}

.main-list > li.light::marker{
    font-size: 1.4rem;
    color: #00ABCA;
}



/* Toggle style */

.navbar-toggle{
    display: flex;
    align-items: center;
    padding-left: 90px;
}

.toggle-label-light{
    margin-right: 10px;
}

.toggle-label-dark{
    margin-left: 10px;
}

.toggle-switch{
    position: relative;
    display: inline-block;
    width: 26px;
    height: 14px;
    /* background-color: antiquewhite; */
}

.toggle-slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    transition: 0.4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    transition: 0.4s;
    border: 1px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* color of the ellipse before switch */
.light-mode:before{
    background-color: white; 
}

/* color of the ellipse after switch */
.dark-mode:before{
    background-color: #222222;
}

/* input:checked::after + .toggle-slider::after{
    background-color: #f5f5f5;
} */

/* input:checked::before + .toggle-slider::before{
    background-color: aqua;
} */

input:focus + .toggle-slider{
    box-shadow: 0 0 1px #000000;
}

input:checked + .toggle-slider:before{
    transform: translateX(12px);
}

input{
    display: none;
}